.forgot-password-page {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.forgot-password-page-container {
    display: flex;
    width: 50%;
    height: 50%;
}