* {
    user-select: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
}

p {
    color: white;
}

.error-message {
    font-size: 14px;
    color: red;
    text-align: left;
}

.loading {
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}