.checkbox-container {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    font-size: 16px;
}

.checkbox-input {
    display: none;
}

.checkbox-custom {
    border-radius: 4px;
    display: inline-block;
    position: relative;
    margin-right: 8px;
}

.checkbox-input:checked + .checkbox-custom {
    background-color: inherit;
}
