/* Cards */
.cards {
    gap: 20px;
    padding: 20px;
}

.card {
    width: 220px;
    padding: 20px;
    background: #222;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.3);
    transition: transform 0.3s ease, background 0.3s ease;
}

.card.hover:hover {
    transform: scale(1.05);
}

.card.selected {
    transform: scale(1.05);
    border: 1px solid rgba(255, 100, 100, 0.7);
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.6);
}

/* Movie Cards */
.movie-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 10px;
    gap: 5px;
    transition: transform 0.3s ease-in-out;
}

.movie-card {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 250px;
    height: 150px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent;
}

.movie-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.movie-card.no-hover {
    pointer-events: none;
}

.movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.movie-card:hover .movie-card-image {
    transform: scale(1.1);
}

.movie-cards .movie-card:first-of-type::before,
.movie-cards .movie-card:last-of-type::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

.movie-cards .movie-card:first-of-type::before {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.movie-cards .movie-card:last-of-type::before {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

/* Pagination */
.pagination-button {
    border: none;
    cursor: pointer;
    z-index: 3;
    position: absolute;
    background-color: transparent;
    pointer-events: auto;
    color: white;
    opacity: 0;
}

.visible {
    opacity: 1;
    color: white;
}

.pagination-button.left-arrow {
    left: 0;
    width: 8%;
    height: 100%;
}

.pagination-button.right-arrow {
    right: 0;
    width: 8%;
    height: 100%;
}

.half-view {
    transform: scale(0.8);
    width: 10%;
    opacity: 0.5;
}

/* Flip Cards */
.flip-card {
    width: 250px;
    height: 350px;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card.hover-mode .flip-card-inner {
    transition: transform 0.6s;
}

.flip-card.hover-mode:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.flip-card-front {
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.flip-card-back {
    background: linear-gradient(to right, #7be495, #00c9ff);
    color: white;
    font-size: 18px;
    font-weight: bold;
    transform: rotateY(180deg);
}


/* Top Movie Cards */
.top-movie-card {
    cursor: pointer;
    width: 300px;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 150px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3 ease;
}

.top-movie-card-container {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.top-movie-rank {
    font-family: 'Bebas Neue', 'Oswald', sans-serif;
    position: absolute;
    left: -20px;
    top: 45%;
    transform: translateY(-50%);
    font-size: 200px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 3px rgba(255, 255, 255, 0.5);
    z-index: 0;
}

.top-movie-rank.limit {
    font-size: 180px;
    left: -70px;
}

.top-movie-card-image {
    width: 120px;
    position: relative;
    z-index: 1;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.top-movie-card:hover .top-movie-card-image {
    transform: scale(1.1);
}

.top-movie-cards {
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.top-movie-prev-card,
.top-movie-next-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 150px;
    overflow: hidden;
    margin-right: 50px;
    border-radius: 5px;
}

.top-movie-prev-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    z-index: 1;
}

.top-movie-next-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    z-index: 1;
}

.top-movie-next-item-img,
.top-movie-prev-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.top-movie-prev-card button,
.top-movie-next-card button {
    opacity: 0;
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: background 0.3s ease-in-out;
    pointer-events: auto;
}

.top-movie-prev-card.visible button,
.top-movie-next-card.visible button {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.top-movie-prev-card button:hover,
.top-movie-next-card button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.movie-slider {
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
}

.movie-slider.next {
    animation: slideNext 0.3s ease-in-out;
}

.movie-slider.prev {
    animation: slidePrev 0.3s ease-in-out;
}


/* size */
@media (max-width: 1024px) {
    .top-movie-rank {
        font-size: 190px;
        left: -30px;
        -webkit-text-stroke: 2px rgba(255, 255, 255, 0.5);
    }
}

@media (max-width: 768px) {
    .top-movie-rank {
        font-size: 180px;
        left: -20px;
        -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.5);
    }
}

@media (max-width: 700px) {
    .top-movie-rank {
        display: none;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    }
}

/* Animation Effects */

.slide-out-left {
    animation: slideOutLeft 0.3s ease-in-out forwards;
}

.slide-in-left {
    animation: slideInLeft 0.3s ease-in-out forwards;
}

.slide-in-right {
    animation: slideInRight 0.3s ease-in-out forwards;
}

.slide-out-right {
    animation: slideOutRight 0.3s ease-in-out forwards;
}

@keyframes slideNext {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slidePrev {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}